/.vscode
build/*.o
build/*.csv
build/*.json
parser
bitcoinsv.csv
test.csv
# example/dat/blk00001.dat
# example/dat/blk00002.dat
parser-ui/imgui.ini
result.json
example/blocks.tar.gz
example/dat/*.dat
# example/dat/blk00003.dat
# example/dat/blk00004.dat
# example/dat/blk00005.dat
# example/dat/blk00006.dat
# example/dat/blk00007.dat
# example/dat/blk00008.dat
# example/dat/blk00009.dat
# parser-ui/blk00000.csv
# parser-ui/blk00001.csv
# parser-ui/blk00002.csv
# parser-ui/blk00003.csv
parser-ui/*.csv
parser-ui/*.o
example/parserData.tar.gz
